# PostgreSQL
POSTGRES_USER=ambagan
POSTGRES_PASSWORD=ambagan_secret
POSTGRES_DB=ambagan_db
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

# pgAdmin
PGADMIN_DEFAULT_EMAIL=admin@ambagan.com
PGADMIN_DEFAULT_PASSWORD=pgadmin_secret
PGADMIN_PORT=5050

# NestJS API
API_PORT=3001
NODE_ENV=development

# Next.js
NEXT_PUBLIC_API_URL=http://localhost:3001
